{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 mb-5">
    <div class="policy-box p-4">

        <h5 class="fw-bold text-uppercase mb-3">
            Refund and Replacements Policy:
        </h5>

        <p>
            To submit a return request related to warranty, please complete the contact form on the contact page.
        </p>

        <p>
            Someone from our Customer Service team will contact you with the RMA#. At that time shipping will be determined.
            Customer is responsible for all return shipping charges for the warranty claims.
        </p>

        <p>
            A replacement battery related to warranty will be issued within 30 days once the return is received.
            Replacement will be determined based on the circumstances of the return. Replacement battery shipping costs would be free.
        </p>

        <p>
            All returns of undamaged batteries unrelated to warranty claims shall be issued full refunds less a 30% restocking fee.
            If you have any questions, please refer to our online order terms or contact us at Nelsonatud@yahoo.com
        </p>

        <br><br>

        <h5 class="fw-bold text-uppercase mb-3">
            Refund:
        </h5>

        <p>
            When an order has been placed, it cannot be cancelled, or any changes made afterwards whatever the reason.
            After your order has been delivered, you can return it unopened and undamaged within 14 days of delivery
            to qualify for a refund less 30% restocking fee.
        </p>

        <p>
            Please be aware, we don’t cover the cost of returns. Return shipping is the responsibility of the customer.
        </p>

    </div>
</div>

{% endblock %}>